@use 'sass:color';

// Variables
$primary-color: #22bc62;
$secondary-color: #531253;
$font-size: 14px;
// Se pueden calcular variables
$title-font-size: $font-size * 1.1;


// $primary-light-color: lighten($primary-color, 40%) !default; // Las funciones de color globales estan deprecadas en sass.
$primary-light-color: color.adjust($primary-color, $lightness: 40%); // Es recomendable utilizar el módulo de sass:color
$primary-dark-color: darken($primary-color, 6%) !default;
$primary-darker-color: darken($primary-color, 12%) !default;
$primary-text-color: #ffffff !default;
$primary500: $primary-color !default;
$highlightBg: lighten($primary-color, 52%) !default;
$highlight-text-color: $primary-dark-color !default;
$highlight-focus-bg: rgba($primary-color, 0.24) !default;