@use './config' as *;
@use './mixins';

.color-secondary {
    color: $secondary-color;
}

div.nav {
    background-color: $secondary-color;
    color: $primary-color;
    h3 {
        color: $primary-light-color;
    }
    ul {
        text-align: center;
        li a {
            font: {
                family: 'Arial';
                weight: 500;
                size: 15px;
            }
            @include mixins.text-primary-bold;
            &.disabled {
                @extend .color-secondary;
                text-decoration: none;
            }
        }
    }
}