// Variables
$primary-color: #97D8B2;
$secondary-color: #531253;
$font-size: 14px;

// ....
// Otro código
// ...

// Overrides
// Sobreescribir variables en cascada
$primary-color: #A0ACAD;

// Las variables en scss no se transforman a variables en CSS.
/*
:root {
    --primary-color: $primary-color;
}

div {
    color: var(--primary-color);
}
    */
div {
    color: $secondary-color;
    background-color: $primary-color;
}

// Nested styles (ver ejemplo &)